.debtList{
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 200px 10px 200px;
    padding: 10px 10px;
}

button{
    
    border-style: solid;
  }