.debtList{
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 20% 10% 20%;
    padding: 10px 10px;
}

button{
    
    border-style: solid;
  }

.buttons{

    display: flex;

}