.FormsDebts{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  width: 300px;
  height:50px;
  text-align: center;
}

button{
  margin-top: 2%;
  border-style: outset;
}

select{
  width: 300px;
  height:50px;
  
}

option{
  font-size: medium;
  text-align: center;
 
}

label{
  padding-top: 1%;
}
